/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box; 
  margin:0;
  padding:0; 
}


button:not([disabled]) {
  cursor:pointer;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings: red;
  --color-background: black;
  --color-normal-text: white;
  --color-borders: white;
  --color-background: black;
  --font-family-H1: 'Voltaire', 'Staatliches' ,sans-serif;
  --font-family-p: 'Arial', Helvetica ,'sans-serif';
}



/********************/
/* ALGEMENE STYLING */
/********************/

body{
  background-color:var(--color-background);
  background-image: url('../images/spinnenweb-achtergrond.png');
  background-size: 155vw;
  background-position: top center;
}

p {
  font-family: var(--font-family-p);
  color: var(--color-normal-text);
  font-size: .9em;
}



/**********/
/* HEADER */
/**********/


header h1 {
  color:var(--color-headings);
  text-align: center;
  padding: 1em;
  text-transform: uppercase;
  font-family: var(--font-family-H1);
  font-size: 3em;
}

/* p in header */
header p {
  text-align: center;
  position: relative;
  top: -2em;
}



/********/
/* MAIN */
/********/


main li {
  position: fixed;
}

main button {
  position:relative;
  width:100%;
  cursor: pointer;
  appearance: none;
  border:none;
  background:none;
  padding:0;
}

main button img {
  width:100%;
  height:auto;
}



/*********/
/* TOBEY */
/*********/


/* img tobey 2002. rechts in scherm. */
li:nth-of-type(1) {
  width: 15vw;
  right:0;
  top:10vw;
  transition: 2s;
}

/*
li:nth-of-type(1):hover {
  background-image: url(../images/MJ-tobey-new.png);
  z-index: 0;
}
*/

li:nth-of-type(1) button {
  z-index: 100;
  cursor: url(../images/Tobey-head.png) 30 35, auto;
}

/* webshiet img */
li:nth-of-type(1) > img {
  position: absolute;
  width:2vw;
  height:auto;
  left:3%;
  top:42.2%;
  transition: 1s;
  transform: rotate(-20deg);
  transform-origin:right top;
}

/* webschiet js animatie */
li:nth-of-type(1) > img.webSchiet {
  transform: rotate(-2deg) scale(10);
}


/**** INFO TEKST BLOK TOBEY ****/

li:nth-of-type(1) section {
  display:none;
}

li:nth-of-type(1) section.tobeyDetailsShow {
  display:block;
  position: fixed;
  top: 25%;
  right: 32%;
  padding: 1em;
  border: 0.1em solid var(--color-borders);
  border-radius: 1em;
  background-color: var(--color-background);
  z-index: 2000;
}

li:nth-of-type(1) h2 {
  color: var(--color-headings);
  font-family: var(--font-family-H1);
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

li:nth-of-type(1) p {
  width: 30em;
}

li:nth-of-type(1) section img {
  width: 10em;
  height: auto;
  float: right;
}




/****************************************/
/* GARFIELD 2012. Links boven in scherm */
/****************************************/


li:nth-of-type(2) {
  width: 12vw;
  left: 3em;
  top: 0;
}

li:nth-of-type(2) button {
  transition: 4s;
  cursor: url(../images/garfield-head.png) 30 35, auto;
}

/* animeert naar beneden */
li:nth-of-type(2) button.drop {
  transform: translateY(32em);
}

/* staartje*/
li:nth-of-type(2) button::after {
 content:"";
 position: absolute;
 width:1px;
 height:35em;
 left:46.5%;
 bottom:98%;
 background-color: var(--color-borders);
}


/**** INFO TEKST BLOK GARFIELD ****/

li:nth-of-type(2) section {
  display: block;
  position: fixed;
  width: min(30%,25em);
  top: -50%;
  left: 3%;
  border: 0.1em solid var(--color-borders);
  border-radius: 1em;
  padding: 1em;
  background-color: var(--color-background);
  z-index: 2000;
  transition: 4s;
}

li:nth-of-type(2) section.GarfieldDetailsShow {
  transform: translateY(27.5em);
}

li:nth-of-type(2) h2 {
  color: var(--color-headings);
  font-family: var(--font-family-H1);
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

li:nth-of-type(2) section img {
  width: 6.7em;
  height: auto;
  float: right;
}




/**********************************/
/* img Tom midden onder in scherm */
/**********************************/


li:nth-of-type(3) {
  width: 21vw;
  left: 50%;
  bottom: -0.4em;
  transform: translateX(-50%);
}

li:nth-of-type(3) button {
  cursor: url(../images//tom-head.png) 30 35, auto;
}


/* HOLOGRAM INFO BLOK TOM */

li:nth-of-type(3) section{
  background-color: lightblue;
  position: absolute;
  width: 39em;
  height: 25.5em;
  left: 42%;
  bottom: 11.8em;
 
  clip-path: polygon(50% 100%, 50% 0, 50% 0);

  transform: translateX(-40%);
  transition: 0.5s ease-in;
}

/* hologram klapt uit*/
li:nth-of-type(3) section.holoGramKlaptUit{
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

li:nth-of-type(3) h2 {
  color: red;
  position: absolute;
  font-family: var(--font-family-H1);
  font-size: 1.5em;
  left: 48%;
  margin: 0.5em;
  transform: translateX(-50%);
}

li:nth-of-type(3) p {
  color: black;
  margin-top: 4.5em;
  width: 100%;
  text-align: center;
}

li:nth-of-type(3) section img {
  position: absolute;
  width: 5.5em;
  height: auto;
  left: 49%;
  bottom: 0.4em;
  transform: translateX(-50%);
}

/* divjes zodat de tekst in vorm van driehoek verschijnt */
div {
  position: relative;
  width: 10px;
  height: 10px;
}

li section div:first-of-type, li section div:last-of-type {
  width: 40%;
  height: 100%;
}

/* div links naast tekst*/
li section div:first-of-type {
  float: left;
  shape-outside: polygon(0 0, 130% 100%, 0 100%);
}

/* div rechts naast tekst*/
li section div:last-of-type {
  float: right;
  shape-outside: polygon(90% 0, 100% 80%, 0 80%);
}

/* Jeffrey heeft mij geholpen met de de tekst af te knippen door middel van 
2 lege divjes te 'floaten' en de tekst in het midden te zetten met text-align:center;*/
